html, body {
    margin: 0;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

.iconButton {
    color: white;
    text-decoration: none;
    width: 32px;
    height: 32px;
    left: calc(50vw - 16px);
}

.iconButton.lower {
    position: absolute;
    bottom: 24px;
}

.iconButton.left {
    position: absolute;
    left: 24px;
}

.iconButton.right {
    position: absolute;
    left: unset;
    right: 24px;
}

.iconButtonContent {
    font-size: 32px!important;
}

#preview {
    width: calc(100vw + 20px);
    height: calc(100vh + 20px);
    object-fit: cover;
}

#lens {
    position: absolute;
    width: 50vw;
    height: 50vw;
    top: calc(calc(100vh - 50vw) / 2);
    left: calc(calc(100vw - 50vw) / 2);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5vw;
    transition: 0.5s;
}

@media (orientation: landscape) {
    #lens {
        position: absolute;
        width: 50vh;
        height: 50vh;
        top: calc(calc(100vh - 50vh) / 2);
        left: calc(calc(100vw - 50vh) / 2);
        border-radius: 5vh;
    }
}